[Unit]
Description=OpenWiFi Analytics Service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
Environment="OWANALYTICS_ROOT=/home/admin/dev/wlan-cloud-analytics"
ExecStart=/home/admin/dev/wlan-cloud-analytics/cmake-build/owanalytics
WorkingDirectory=/home/admin/dev/wlan-cloud-analytics
# ExecReload=/bin/kill -s HUP $MAINPID
User=admin
# TimeoutSec=0
RestartSec=2
Restart=always
StartLimitBurst=3
# KillMode=process
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target
